@{
    Layout = "/Layouts/ControlPanelLayout.cshtml";
}
@section Head {
    <style>
        #fixedContainer {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin-top: 70px;
            overflow: hidden;
        }

        #flexContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            margin-left: -15px;
            margin-right: -15px;
        }

        .flex1 {
            flex: 1 1 0%;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
        }

        .inputBox {
            flex: 1 1 0%;
            display: flex;
            flex-direction: column;
        }

            .inputBox .header {
                flex: 0 0 0px;
            }

            .inputBox .content {
                flex: 1 1 0px;
            }


        @@media (max-width: 600px) {
            #fixedContainer {
                margin-top: 0px;
                position: relative;
                height: 1100px;
            }

                #fixedContainer > .row {
                    height: 1100px !important;
                }

            #flexContainer {
                flex-direction: column;
            }

            #videoBox {
                display: none;
            }
        }

        @@media (min-width:601px) {
            #mainContent {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    </style>
    @RenderSection("Head", required: false)
}
<div id="fixedContainer">
    <div class="row" style="height:100%;">
        <div class="col-sm-12 ml-sm-auto col-md-10" id="mainContent">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}