body {
    background-color: #EEE;
}

.btn-warning, .btn-warning:hover {color:#FFF;}

.sidebar { position: fixed; top: 0px; bottom: 0; left: 0; z-index: 1000; padding: 0px; overflow-x: hidden; overflow-y: auto; border-right: 1px solid #eee; background-color:#FDFDFD !important; }
.sidebar .nav { margin-bottom: 20px; margin-top:20px; }
.sidebar .nav-item { width: 100%; height:30px; overflow:hidden; text-wrap:none; }
.sidebar .nav-item + .nav-item { margin-left: 0; }
.sidebar .nav-link { border-radius: 0; }
.sidebar .nav-link i {width:20px;}
.sidebar .card {border-left:0px;border-right:0px;border-radius:0px;border-top:0px;}
.sidebar .card-header {cursor:pointer;padding-left:5px;}
.sidebar .card-body {padding:10px;}
#sidebar .nav-item a:hover, #sidebar .nav-item a.active {background-color:#24b8ff;color:#FFF;}
#sidebar .nav-item {padding-top:15px; padding-bottom:15px;height:50px;}
#sidebar a { color:#333; }

.description { font-size: 12px; font-style: italic; color: #777; }
button.datetime-local-datepicker-button {background-color:#FFF;border:0px;width:100%;}