.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFF;
}

.chatReceive {
    flex: 1 0 0;
    padding: 10px;
    overflow-y: scroll;
}

.chatSend {
    flex: 0 0 0px;
}

.message span {
    float: right;
}

#callout {font-size:20px;padding-bottom:15px;border-bottom:2px solid #EEE;margin-bottom:15px;display:none;}
prayerRequests a {display:block;}

.emojiContent { font-size: 26px; }
.emojiContent a:hover { text-decoration:none; background-color:var(--primaryColor); }

.popover {max-width:400px !important;z-index:9999;}